<%- include('_header.ejs') -%>
<div class="container">
    <div class="col-md-10 mx-auto text-center">
        <div class="header-title">
        <h1 class="wv-heading--title">Welcome to Simple Asset ChainCode</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="myform form ">
                <div class= "mx-auto text-center">
                    <a href="/create"><button type="submit" class="btn btn-primary">Create</button></a>
                    <a href="/modify"><button type="submit" class="btn btn-success">Modify</button></a>
                    <a href="/query"><button type="submit" class="btn btn-info">Query</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('_footer.ejs') -%>
